body {
    margin: 0; 
    overflow: hidden;
}

#start-screen {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: #030003;
}

#start-button {
    background-color: transparent;
    color: white;
    border: 0px;
    width: 100%;
    height: 100%;
}

#start-text {
    margin-top: 440px;
    font-size: 50px;
}

#start-button #start-text {
    transition: transform 0.2s ease;
    transform: scale(1);
    opacity: 1;
}

#start-button:hover #start-text {
    transition: transform 0.2s ease;
    transform: scale(0.9);
    opacity: 0.8;
}